# -----------------------------------------------------------------------------
# SPDX-License-Identifier: GPL-3.0-or-later
#
# @copyright Copyright (c) 2026 Rafael Mendes
# @license   GPLv3+ <https://www.gnu.org/licenses/gpl-3.0.html>
# @link      GitHub <https://github.com/mendescrafael>
#
# This file is part of GLPI Docker.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Arquivos de IDEs e sistemas operacionais.
# -----------------------------------------------------------------------------
.idea/
.vscode/
*.DS_Store
Thumbs.db
*.swp
*.swo
*~

# -----------------------------------------------------------------------------
# Logs e arquivos temporários.
# -----------------------------------------------------------------------------
*.log
*.tmp
*.bak
*.old
*.orig
*.rej

# -----------------------------------------------------------------------------
# Backups e arquivos compactados.
# -----------------------------------------------------------------------------
*.sql
*.tar
*.tgz
*.gz
*.zip

# -----------------------------------------------------------------------------
# Arquivos de variáveis de ambiente.
# -----------------------------------------------------------------------------
.env*

# -----------------------------------------------------------------------------
# Arquivos de controle de versão.
# -----------------------------------------------------------------------------
.git
.gitattributes
.gitignore

# -----------------------------------------------------------------------------
# Arquivos auxiliares de desenvolvimento.
# -----------------------------------------------------------------------------
.dockerignore
docker-compose*.yml
Makefile
scripts/
tests/
vendor/
