# -----------------------------------------------------------------------------
# SPDX-License-Identifier: GPL-3.0-or-later
#
# Copyright (c) 2026 Rafael Mendes
#
# This file is part of GLPI Docker.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Projeto.
# -----------------------------------------------------------------------------
PROJECT_NAME="GLPI Docker"
PROJECT_DESCRIPTION="Projeto de conteinerização Docker para a aplicação GLPI."
PROJECT_AUTHORS="Rafael Mendes <mendescrafael@outlook.com>"
LICENSE="GPLv3"

# -----------------------------------------------------------------------------
# Organização.
# -----------------------------------------------------------------------------
VENDOR_LABEL="Contoso"
VENDOR_ID=contoso
CLIENT_ID=contoso

# -----------------------------------------------------------------------------
# Ambiente.
# -----------------------------------------------------------------------------
ENV_TYPE=prd
TZ=America/Fortaleza

# -----------------------------------------------------------------------------
# Aplicação.
# -----------------------------------------------------------------------------
APP_NAME=glpi
APP_VERSION=11.0.8
APP_SERVICE=apache
APP_BASE_IMG=php:8.5-apache
APP_DEBUG=false

# -----------------------------------------------------------------------------
# Diretórios da aplicação.
# -----------------------------------------------------------------------------
APP_DIR=/var/www/app
APP_CONFIG_DIR=/etc/app
APP_FILES_DIR=/var/lib/app

# -----------------------------------------------------------------------------
# Diretório de templates.
# -----------------------------------------------------------------------------
TEMPLATES_DIR=/var/opt/app/templates

# -----------------------------------------------------------------------------
# Web server.
# -----------------------------------------------------------------------------
WEBSERVER_DIR=/etc/apache2

WEBSERVER_CFG_TEMPLATE=${TEMPLATES_DIR}/app-site-cfg.conf.template
WEBSERVER_CFG_FILE=${WEBSERVER_DIR}/conf-available/app-site-cfg.conf

WEBSERVER_VHOST_TEMPLATE=${TEMPLATES_DIR}/app-site-vhost.conf.template
WEBSERVER_VHOST_FILE=${WEBSERVER_DIR}/sites-available/app-site-vhost.conf

WEBSERVER_SITE_ROOT_DIR=${APP_DIR}/public
WEBSERVER_DOMAIN_NAME=glpi.contoso.com.br
WEBSERVER_ADMIN_EMAIL=admin@example.com
WEBSERVER_PORT=80
WEBSERVER_PORT_SSL=443

# -----------------------------------------------------------------------------
# Diretório de certificados SSL.
# -----------------------------------------------------------------------------
SSL_DIR=/etc/ssl/app
SSL_CERT_FILE=${SSL_DIR}/cert-file.crt
SSL_KEY_FILE=${SSL_DIR}/cert-file.key

# -----------------------------------------------------------------------------
# Diretório Cron.
# -----------------------------------------------------------------------------
CRON_DIR=/etc/cron.d
CRON_TEMPLATE_FILE=${TEMPLATES_DIR}/app-cron.template
CRON_FILE=${CRON_DIR}/app-cron

# -----------------------------------------------------------------------------
# Banco de dados.
# -----------------------------------------------------------------------------
DB_SERVICE=mysql
DB_BASE_IMG=mysql:9.7
DB_HOST=db
DB_USER=glpi
DB_PASS=glpi
DB_NAME=${APP_NAME}_${CLIENT_ID}_${ENV_TYPE}
