-----BEGIN CERTIFICATE-----
MIIDATCCAemgAwIBAgIUB/SPrULxEtbLMDqKQjeFJRIa9TQwDQYJKoZIhvcNAQEL
BQAwFzEVMBMGA1UEAwwMNTNiYThkYTZjYTNjMB4XDTI2MDcxNTAwMTkyMloXDTM2
MDcxMjAwMTkyMlowFzEVMBMGA1UEAwwMNTNiYThkYTZjYTNjMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyFJFl2u9LFNPTfasElHqEXlYWNXIom9i5a0C
XUgJRv/WwWPXOZXOhiEpWDBdspCHDIrBXAGxulci37UT8nFHp+Nxrj1dv2K2jAkd
OzAFGT+12eD/oF15VzHWS6yjqN1eAUxKS+aELk9swSgOTkboRl5H2szMq9VR1mWt
JAzStEFeKXEPtWSYXBQRFhB6cLtv3sXme5OQqsB2yV/WAcTTjbL0eTPp52R5SkFY
rlnCCLanC7md4uKiJWL3u9bm7/p6MLvKm/hTp8ZWPGFBCNipnFclvvIW/hlf832E
qBit6u0r4I8DEiNvbUaI3oBYo4LqGpDPr0QZhvslIGprEXOTxQIDAQABo0UwQzAJ
BgNVHRMEAjAAMBcGA1UdEQQQMA6CDDUzYmE4ZGE2Y2EzYzAdBgNVHQ4EFgQUmipA
rh0/3W2AUVPD7rSnuu07YZYwDQYJKoZIhvcNAQELBQADggEBACyaKliBt2Ta9ho3
mni89H/67wSySg0anpUk+BZt7sd9QedR+6vd8/86+MaXtukflnfs5tSqMT6L3vtK
jQnqa5hnvnCxKl1nI6HC+/vXZAfat4zvmK5bQSuE0zz8Ow+mMGr30Bk8LYt3/7xE
oXa975lBwJ2ykRErxJf1kTaizEutEYk6wSr20s/+BQbczw5MtThBXaYPnR4aJ0BW
fPjvmh+gnd3xtrXbRZM91hzq7SeCj/MXdL9z9VEfUjqp2OEO1pxRlc/vflWu56PR
6yice5vvcEgw8k5YA+luYaA4ilqrXzuVIcD1qeIW1TW3XDMy5W3Wu+R243gPeA7e
uITdNiE=
-----END CERTIFICATE-----